<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="all-wines-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-wines-link">
                <a href="{% url 'wines' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'wines' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'wines' %}?sort=country&direction=asc" class="dropdown-item ">By Country</a>
                <a href="{% url 'wines'%}" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="red-wine-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Red Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="red-wine-link">
                <a href="{% url 'wines' %}?grape=shiraz_syrah" class="dropdown-item">Shiraz / Syrah</a>
                <a href="{% url 'wines' %}?grape=malbec" class="dropdown-item">Malbec</a>
                <a href="{% url 'wines' %}?grape=tempranillo" class="dropdown-item">Tempranillo</a>
                <a href="{% url 'wines' %}?grape=garnacha" class="dropdown-item">Garnacha</a>
                <a href="{% url 'wines' %}?grape=cabernet_sauvignon" class="dropdown-item">Cabernet Sauvignon</a>
                <a href="{% url 'wines' %}?category=red_wine" class="dropdown-item">All Red Wine</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="#" id="white-wine-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                White Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="white-wine-link">
                <a href="{% url 'wines' %}?grape=sauvignon_blanc" class="dropdown-item">Sauvignon Blanc</a>
                <a href="{% url 'wines' %}?grape=albariño" class="dropdown-item">Albariño</a>
                <a href="{% url 'wines' %}?grape=pinot_grigio" class="dropdown-item">Pinot Grigio</a>
                <a href="{% url 'wines' %}?grape=chardonnay" class="dropdown-item">Chardonnay</a>
                <a href="{% url 'wines' %}?grape=riesling" class="dropdown-item">Riesling</a>
                <a href="{% url 'wines' %}?category=white_wine" class="dropdown-item">All White Wine</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-green" href="#" id="sparkling-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sparkling Wine
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sparkling-link">
                <a href="{% url 'wines' %}?grape=prosecco" class="dropdown-item">Prosecco</a>
                <a href="{% url 'wines' %}?grape=champagne" class="dropdown-item">Champagne</a>
                <a href="{% url 'wines' %}?category=sparkling_wine" class="dropdown-item">All Sparkling Wine</a>
            </div>
        </li>
    </ul>
</div>